@import '../../../assets/styles/variables';
@import '../../../assets/styles/functions';

.block__configureSearch {
	display: flex;
	gap: adapt(8px, 1440px);
	margin-top: adapt(24px, 1440px);
	align-self: start;
}

.block__pageName {
	display: flex;
	align-items: end;
	gap: adapt(16px, 1440px);
	align-self: start;

	> .pageName__title {
		font-size: 1.12rem;
		font-weight: 500;
		line-height: 1.18;
	}
}
