$fz_standart: 14px;

//colors
$color_one: #1760e8;
$color_two: rgba(
	$color: #1760e8,
	$alpha: 0.08,
);
$color_three: #eceff6;
$color_four: #1e1e1e;
$color_five: rgba(
	$color: #1e1e1e,
	$alpha: 0.6,
);
$color_six: rgba(
	$color: #1e1e1e,
	$alpha: 0.4,
);
$color_seven: #fff;
$color_eight: rgba(
	$color: #1e1e1e,
	$alpha: 0.88,
);
$color_nine: #cc3d3d;
$color_ten: #f5f5f7;
